In [7]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup 
from tqdm.notebook import tqdm
import re

In [8]:
# Create a new Chrome session
driver = webdriver.Chrome(executable_path='chromedriver.exe')

C:\Users\isaev\AppData\Local\Temp\ipykernel_3184\2264336128.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path='chromedriver.exe')

In [9]:
url = "https://cbr.ru/hd_base/zcyc_params/?UniDbQuery.Posted=True&UniDbQuery.From=01.01.2022&UniDbQuery.To=04.09.2022"
driver.get(url)

In [10]:
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find_all('table')
dfs = pd.read_html(str(table))

In [11]:
dfs[2].to_csv("Облигации.csv")

In [12]:
dfs[2]

           Дата Срок до погашения, лет                                     \
           Дата                   0,25  0,5 0,75    1    2    3    5    7
0    02.09.2022                    759  762  765  768  779  795  835  870
1    01.09.2022                    764  766  769  772  786  805  848  881
2    31.08.2022                    771  768  768  769  784  805  851  884
3    30.08.2022                    763  762  763  766  785  810  853  882
4    29.08.2022                    767  765  765  767  785  808  852  882
..          ...                    ...  ...  ...  ...  ...  ...  ...  ...
148  10.01.2022                    810  839  852  857  864  866  866  863
149  06.01.2022                    771  799  816  828  846  850  849  848
150  05.01.2022                    748  779  796  806  820  824  830  833
151  04.01.2022                    744  781  799  809  821  827  834  837
152  03.01.2022                    737  775  795  806  821  827  833  836


      10   15   20   30
0    904  932  947  964
1    908  929  940  953
2    911  932  943  956
3    906  926  936  947
4    905  924  935  945
..   ...  ...  ...  ...
148  858  855  856  857
149  847  847  847  849
150  834  834  834  834
151  837  837  836  836
152  837  837  837  837

[153 rows x 13 columns]