In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup 
from tqdm.notebook import tqdm
import re

In [2]:
# Create a new Chrome session
driver = webdriver.Chrome(executable_path='chromedriver.exe')

C:\Users\isaev\AppData\Local\Temp\ipykernel_6772\2264336128.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path='chromedriver.exe')

In [3]:
url = "https://cbr.ru/hd_base/KeyRate/?UniDbQuery.Posted=True&UniDbQuery.From=01.01.2022&UniDbQuery.To=04.09.2022"
driver.get(url)

In [4]:
soup = BeautifulSoup(driver.page_source, 'lxml')
table = soup.find_all('table')
dfs = pd.read_html(str(table))

In [5]:
dfs[2].to_csv("Ключевая_ставка.csv")

In [6]:
dfs[2]

           Дата  Ставка
0    02.09.2022     800
1    01.09.2022     800
2    31.08.2022     800
3    30.08.2022     800
4    29.08.2022     800
..          ...     ...
163  10.01.2022     850
164  06.01.2022     850
165  05.01.2022     850
166  04.01.2022     850
167  03.01.2022     850

[168 rows x 2 columns]